body {
  min-height: 100vh;
  text-align: center;
  margin: 0px;
}
a {
  text-decoration: none;
  color: rgba(22, 21, 21, 0.76);
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h4 {
  margin: 0px;
}
.container_error {
  margin-left: 400px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.container h3 {
  font-weight: 600;
  font-size: 46px;
}
.product {
  width: 100%;
  height: 300px;
  background-color: #ecb7b7;
  border-radius: 15px;
  margin: 10px;
  height: 50%;
}
.details {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
p {
  text-align: justify;
  margin: 4px;
}
.description {
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e5959;
  height: 150px;
  margin-top: 150px;
}
footer a {
  color: white;
}
@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-wrap: nowrap;
  }
}
